*, *:after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Exo 2', Helvetica, sans-serif;
    font-display: auto;
    margin: 0;
}

.top {
    background: url('img/Starry-Blue.webp'), url('img/Starry-Blue.jpg'), #333;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35vh 10vw;
}
/* #selfpic {
    width: 15vw;
    height: 15vw;
    opacity: .9;
    border: .5vw double #fff;
    border-radius: 50%;
    margin: 3vw;
}
#selfpic:hover {
    opacity: .5;
    cursor: pointer;
} */
.name {
    font-size: calc(20px + 3vw);
    margin: 0;
    color: #fff;
}
.top>p {
    color:#fff;
    margin-bottom: 0;
    opacity: 0.8;
    font-style: italic;
}
/* #navbar a,  */
.top a, .contact a {
    text-decoration: none;
    color: #8BA9E6;
    font-size: 20px;
    background: #333;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
}
.contact a {
    margin-right: 5px;
}
.top a:hover , #navbar a:hover, .contact a:hover {
    background: white;
    transition: all .5s cubic-bezier(0,.1,.6,1);
}

nav {
    display: block;
    position: relative;
    background: #333;
    top: 0;
    z-index: 2;
}
.fixed-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    max-height: 70px;
}

.logo {
    max-width: 0;
    overflow: hidden;
    background: #fff;
    transition: all .4s;
    font-size: 30px;
    font-weight: 600;
}
.fixed-nav .logo {
    max-width: 25vw;
}
.fixed-nav .logo a:hover {
    color: #333;
}
.fixed-nav .logo a {
    color: #8BA9E6;
    text-transform: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
}
nav a {
    text-decoration: none;
    color: #8BA9E6;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s;
    text-transform: uppercase;
    display: inline-block;
}

h3 {
    font-size: 20px;
}
.content {
    display: block;
    padding: 0 5%;
}
.content p {
    font-size: 16px;
    line-height: 24px;
}


.portfolio a {
    display: inline-block;
    position: relative;
    background: none;
    padding: 0;
}
.portfolio a:after {
    position: absolute;
    transition: opacity 0.9s ease;
    opacity: 0;
    content: attr(data-title);
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 25% 0;    
    height: 100%;
    width: 100%;
    background: rgba(5, 10, 45, 0.7);
    z-index: 4;
    left: 0;
    top: 0;
}
div a:hover:after {
    opacity: 1;
}

.quote { 
    font-style: italic;
    text-align: center;
    opacity: .5;
}

@media screen and (max-width: 400px) {
    li.logo a.logotext {
        color: #fff;
    }
    .fixed-nav .logo a:hover {
        color: #fff;
    }
}

@media screen and (max-width: 833px) {
    a img {
        max-width: 90vw;
    }
}
@media screen and (min-width: 834px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 10px;
        justify-items: center;
    }
    .container img {
        width: 370px;
        height: 210px;
    }
}

/* .marquee {
    width: 200px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    background: #dadada;
    color: #5F4B8B;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 3s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused;
} */
/* @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
} */


/* .carousel {
    display: block;
    position: relative;
    align-content: center;
    overflow: hidden;
    width: 60vw;
    height: 40vw;
    margin: 50px auto;
    padding: 0;
    border: 1px solid #c399ce;
    box-shadow: 2px 3px 15px #5F4B8B;
} 

button {
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0 1em;
    padding: 0 2em;
    font-size: 2vw;
    color: #dadada;
    background: rgba(95, 75, 139, .5);
}
.active .buttons {
    display: block;
    position: relative;
    text-align: center;
    background: rgba(195, 153, 206, .2);
    padding: 1vw 0 50vw 0;
    z-index: 3;
}
.active li {
    position: absolute;
    top: 600px;
}
.active li.current {
    top: 0;
}

.slides {
    margin: 0;
    padding: 0;
    z-index: 1;
}
.slides li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slides img {
    width: 60vw;
    height: 40vw;
} */