*, *::after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Exo 2', Helvetica, sans-serif;
    margin: 0;
}

.top {
    background: url('img/starryzoom.jpg'), #333;
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    padding: 34vh 10vw;
}
/* #selfpic {
    width: 15vw;
    height: 15vw;
    opacity: .9;
    border: .5vw double #fff;
    border-radius: 50%;
    margin: 3vw;
}
#selfpic:hover {
    opacity: .5;
    cursor: pointer;
} */
.name-link {
    text-decoration: none;
    color: #8BA9E6;
    font-size: calc(20px + 3vw);
    margin: 0;
    color: #8BA9E6;
}
.name-link:hover {
    color: #fff;
}
.top > p:first-of-type {
    color:#fff;
    margin-bottom: 0;
    opacity: 0.8;
    font-style: italic;
}
a.github, nav a, .contact a {
    text-decoration: none;
    color: #8BA9E6;
    font-size: 20px;
    background: #333;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
}
a.github:hover , #navbar a:hover, .contact a:hover {
    background: white;
    transition: all 0.5s cubic-bezier(0,0.1,0.6,1);
}

nav {
    display: block;
    position: relative;
    background: #333;
    top: 0;
    z-index: 2;
}
.fixed-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    max-height: 70px;
}

.logo {
    max-width: 0;
    overflow: hidden;
    background: #fff;
    transition: all 0.4s;
    font-size: 30px;
    font-weight: 600;
}
.fixed-nav .logo {
    max-width: 25vw;
}
.fixed-nav .logo a:hover {
    color: #333;
}
.fixed-nav .logo a {
    color: #8BA9E6;
    text-transform: none;
    background: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
}
nav a {
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
}

h3 {
    font-size: 20px;
}
.content {
    display: block;
    padding: 0 5%;
}
.about p {
    font-size: 16px;
    line-height: 24px;
}

.portfolio a {
    display: inline-block;
    position: relative;
    background: none;
    padding: 0;
}
.portfolio a::after {
    position: absolute;
    transition: opacity 0.9s ease;
    opacity: 1;
    content: attr(data-title);
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 25% 0;    
    height: 100%;
    width: 100%;
    background: #0c113ab3;
    z-index: 4;
    left: 0;
    top: 0;
}
div a:hover::after {
    opacity: 0;
}

.contact a {
    margin-right: 5px;
}

p.quote { 
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    font-size: 12px;
}

@media screen and (max-width: 400px) {
    li.logo a.logotext, .fixed-nav .logo a:hover, #navbar a:hover {
        color: #8BA9E6;
    }
    li.logo a.logotext, li.logo a.logotext:hover, #navbar a.logotext:hover {
        background: #8BA9E6;
    }
    #navbar .logo::after {
        position: absolute;
        content: 'KMZ';
        color: #333;
        font-size: 10px;
    }
}
@media screen and (max-width: 833px) {
    a img {
        max-width: 90vw;
    }
    .imgdiv {
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 834px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 10px;
        justify-items: center;
    }
    .container img {
        width: 370px;
        height: 230px;
    }
}
